body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navgation{
    align-items: center;
}

.con{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 10px;
}

.login{
    display: flex;
    gap: 15px;
}


main{
    margin-top: 60px;
    height: 100%;
    border: solid red;
    overflow:auto;
    padding-bottom:150px;
    
}

.router{
    height: 100%;
}

header{
    background-color: #FFD966;
}
.navbar{
    padding: 10px;
    background-color: #FFD966;
}

.footer {
    position: relative;
    
    clear:both;
    padding-top:20px;
    background-color: #FFD966;
}

.input-field{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 400px;
    height: 40px;
    background-color: inherit;
  }

  .input-field-btn{
    background-color: inherit;
    border: none;
  }
  
  .input-field:focus {
    border-bottom: 2px solid blue;
  }

