body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fill;
    background-image: url(../../assets/SearchBgImg.jpeg);
    background-size: cover;
    background-position: center;
}

.form-control{
    height: 45px;
}
.btn{
    height: 45px;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox{
    width: 100%;
}

.title{
    color: white;
}
